<!-- <base href="/"> -->
<div class="header">
  <h1>Amazon List</h1>
  <h2>Find best price here</h2>
</div>

<div class="content" ng-controller="productCtrl">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-1">
      <form name="productForm" class="pure-form pure-form-aligned" ng-submit="addProduct(productForm.$valid)" novalidate>
        <fieldset>
          <div class="pure-control-group">
            <h4>Add new item to list</h4>
          </div>
          <div class="pure-control-group">
            <input name="pname" ng-model="formData.name" type="text" placeholder="Product" ng-minlength="1" ng-required="true">
            <select name="categoryList" ng-model="formData.category" ng-options="item.itemName as item.itemName for item in categories" ng-required="true">
              <option ng-show="!formData.category" value="">Category</option>
            </select>
            <input name="amount" ng-model="formData.currentPrice" type="number" placeholder="Price" ng-minlength="1" ng-required="true">
            <button type="submit" class="pure-button pure-button-primary" ng-disabled="productForm.$invalid">Add</button>
          </div>
          <small class="error" ng-show="productForm.pname.$invalid && !productForm.pname.$pristine">* Please enter a name</small><br>
          <small class="error" ng-show="productForm.amount.$invalid && !productForm.amount.$pristine">* Invalid amount</small>
        </fieldset>
      </form>
    </div>
    <div class="p-list pure-u-1 pure-u-md-1-1">
      <h4>Purchase List</h4>
      <!-- table -->
      <table class="pure-table pure-table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Date</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in products track by $index">
            <td>{{$index+1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.category}}</td>
            <td>{{x.currentPrice | currency : "INR ": 2}}</td>
            <td>{{x.updatedAt | date }}</td>
            <td class="textcenter">
              <input class="icon" type="button" ng-click='updatePrice(x.id);' value="+" title="Update price" />
              <input class="icon" type="button" ng-click='removeProduct(x.id);' value="x" title="Remove Product" /></td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
