.p-list .pure-table {
  width: 100%;
}

.pure-form, .pure-table {
  margin-top: 20px;
}

.textcenter {
  text-align: center;
}

.pure-table-odd {
  background: #DDD;
}

.icon {
  text-align: center;
  width: 2em;
  height: 2em;
  padding: 0px;
}

.error {
  color: rgb(202, 60, 60);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: .5em 1em;
}

#menu .pure-menu-heading {
    text-align: center;
    padding-left: 0px;
}

#menu .pure-menu .logo{
  display: block;
  margin-left: 43px;
  padding-bottom: 0.6em;
}

.product-form input,
.product-form select,
.product-form button {
  height: 2.6em;
  margin-bottom: 0.5em;
}


.fulfilled{
    display: none;
    position: absolute;
}

.fulfilled, .fulfilled+label{
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.fulfilled+label{
    display: inline-block;
    width: 100%;
    background: url(../images/aff.png) no-repeat 25% center;
    position: relative;
}

.fulfilled+label:after{
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius:50%;
    margin-right: 10px;
    margin-left: 50%;
    text-align: center;
}
@media screen and (max-width: 56em){

    .fulfilled+label:after{

        margin-left:80px;
    }
}
@media screen and (max-width: 64em){

    .fulfilled+label:after{

        margin-left:55%;
    }
}
@media screen and (max-width: 48em){

    .fulfilled+label{
        background-position: 0.5em center;
    }

    .fulfilled+label:after{
        margin-left: 80px;
    }
}

.fulfilled:checked + label:after {
    background: #444;
}

.fulfilled:focus + label{
  outline: 1px solid #ddd;
}
